* {
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 247);
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root,
.app-content,
.content-layout {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 10%;
  background-color: #3281af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  height: 100%;
}

.logo {
  height: 100%;
  width: auto;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.navbar-content-link {
  text-decoration: none;
  color: rgb(36, 35, 103);
  background-color: white;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border: 1px solid rgb(157, 26, 169);
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: rgb(98, 182, 203);
  }
}

.form-register-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  font-size: 20px;
}

.form-register-course-content {
  border: 2px solid rgb(31, 141, 216);
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;
}

.form-register-course-content-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(36, 35, 103);
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.form-register-course-content-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.form-register-course-content-data-field {
  display: flex;
  gap: 30px;
  width: 100%;

  label {
    font-size: 14px;
    color: #62b6cb;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    width: calc(30% - 15px);
    text-align: start;
  }
}

.form-register-course-content-data-field-input {
  display: flex;
  flex-direction: column;
  position: relative;

  /*width: calc(400px - 15px); este cumple los estandares pero se ve feo :(*/
  width: calc(70% - 15px);

  input,
  textarea,
  select {
    background-color: #def0fd;
    border: 2px solid #62b6cb;
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    padding-right: 38px;
    outline: none;
  }

  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: rgb(98, 182, 203);
  }

  select {
    color: rgb(98, 182, 203);
    margin-left: -1px;
  }

  select + div {
    img {
      left: calc(100% - 38px);
      top: 6px;
    }
  }

  textarea + div {
    img {
      top: 10px;
    }
  }

  option {
    color: rgb(98, 182, 203);
  }
}
.form-register-course-content-data-field-message {
  display: flex;
  justify-content: center; /* Alinea el contenido al centro horizontalmente */
  align-items: center; /* Alinea el contenido al centro verticalmente */
  gap: 30px; /* Espacio entre elementos */
  font-size: 14px;
  color: #62b6cb;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  margin-top: 5px; /* Mueve el mensaje hacia abajo */
}
.form-register-course-content-data-field-error {
  display: flex;
  align-items: center;
  padding-top: 5px;
  gap: 10px;

  label {
    display: contents;
    color: #ff0000;
  }

  img {
    position: absolute;
    width: 18px;
    left: calc(100% - 26px);
    top: 5px;
  }

  img.margin-left-additional {
    left: calc(100% - 28px);
  }
}

.form-register-course-footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  button {
    font-weight: bold;
    border-radius: 20px;
    border-color: rgb(50, 129, 175);
    background-color: rgb(50, 129, 175);
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgb(98, 182, 203);
    }
  }
}

.field-img {
  img {
    top: 8px;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgb(255 255 255 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.modal-content {
  display: flex;
  border: 20px solid rgb(98, 182, 203);
  flex-direction: column;
  padding: 10px;
  align-items: center;
  background-color: white;
  width: 350px;
  height: 200px;
  justify-content: space-around;
  position: absolute;
}

.modal-content-title {
  font-size: 22px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  color: rgb(36, 35, 103);
}

.modal-content-description {
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  text-align: center;
}

.modal-content-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal-content-button {
  border: none;
  border-radius: 15px;
  padding: 6px 20px;
  background-color: rgb(50, 129, 175);
  color: white;
  cursor: pointer;
}

.modal-content-button:hover {
  background-color: rgb(98, 182, 203);
}

.form-register-instructor {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
}

.form-register-instructor-content {
  border: 2px solid rgb(31, 141, 216);
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 600px;
}

.form-register-instructor-content-title {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: rgb(36, 35, 103);
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.form-register-instructor-content-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-register-instructor-content-data-field {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;

  label {
    font-size: 14px;
    color: rgb(12, 98, 145);
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    width: 30%;
    text-align: start;
  }

  input,
  textarea,
  select {
    background-color: rgb(222, 240, 253);
    border: 2px solid rgb(98, 181, 202);
    border-radius: 8px;
    width: 400px;
    padding: 5px;
    margin: 0;
    padding-right: 30px; /* Añadimos espacio para el icono a la derecha */
  }

  input::placeholder,
  textarea::placeholder,
  input[type="date"]::placeholder,
  select::placeholder {
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    color: rgb(98, 182, 203);
    font-size: 12px;
  }

  option {
    color: rgb(98, 182, 203);
  }

  input {
    color: rgb(12, 98, 145);
  }
}

select {
  color: rgb(12, 98, 145);
  margin-left: -5px;
  width: calc(100% - -5px); /* Restamos el ancho del ícono y del margen */
}

.input-container select {
  width: 400px; /* Establecemos el ancho del select */
}

.icon-container {
  position: absolute;
  top: 70%;
  right: 17px;
  transform: translateY(-70%);
}

.icon {
  width: 15px; /* Tamaño del icono ajustado */
}

option {
  color: rgb(98, 182, 203);
}

input {
  color: rgb(12, 98, 145);
  font-weight: 500;
}

.input-container select {
  width: 420px; /* Establecemos el ancho del select */
}

select {
  color: rgb(12, 98, 145);
  margin-left: -5px;
  width: calc(100% - -5px); /* Restamos el ancho del ícono y del margen */
}

.input-container {
  position: relative;
  display: inline-block;
}

.icon-container {
  position: absolute;
  top: 70%;
  right: 17px;
  transform: translateY(-70%);
}

.icon {
  width: 15px; /* Tamaño del icono ajustado */
}

.form-register-instructor-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;

  button {
    font-weight: bold;
    border-radius: 20px;
    border-color: rgb(50, 129, 175);
    background-color: rgb(50, 129, 175);
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    margin-right: 100px;
  }
}

.error-message {
  position: relative;
  width: 50%;
  left: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: red;
  top: 70px;
}

input:focus,
select:focus {
  outline: none;
}

input.success-input,
select.success-input,
textarea.success-input {
  border-color: green; /* Cambia el color del borde a verde cuando no hay error */
}

input.error-input,
select.error-input,
textarea.error-input {
  border-color: #ff0000; /* Cambia el color del borde a rojo cuando hay error */
}

.list-courses {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  max-width: 100%;
  margin: 0 auto;
}

.list-courses-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 50px;
}

.list-courses-content-title {
  color: rgb(12, 98, 145);
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", sans-serif;
  padding: 20px 0;
  height: 10%;
  display: flex;
  align-items: center;
}

.list-courses-content-wrapper {
  height: 90%;
  width: 100%;
}

.list-courses-content-card {
  display: flex;
  gap: 50px;
  max-width: 100%;
  flex-wrap: wrap;
}

.list-courses-content-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  height: 300px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.8s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }

  img {
    height: calc(60% - 5px);
    border-radius: 10px;
  }
}

.list-courses-content-card-wrapper-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(36, 35, 103);
  overflow: hidden;
  height: calc(40% - 5px);
}

.list-courses-content-card-wrapper-description-title {
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-courses-content-card-wrapper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3281af;
  color: white;
  border: none;
  font-size: 16px;
  padding: 5px 0;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #62b6cb;
  }
}

.list-no-courses-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.list-no-courses-message {
  color: rgb(36, 35, 103);
  font-size: 20px;
  font-weight: bold;
}

.modal-curso-detail {
  width: 100%;
  height: 100vh;
  background-color: rgb(255 255 255 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.modal-curso-detail-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1000px;
  height: 700px;
}

.modal-curso-btn-close {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 35px;
  align-items: center;
  cursor: pointer;
  border: 1px solid #62b6cb;

  &:hover {
    background-color: #def0fd;
  }
}

.modal-curso-detail-content {
  top: 35px;
  position: absolute;
  background-color: white;
  border: 20px solid #62b6cb;
  display: flex;
  gap: 30px;
  width: 1000px;
  height: 665px;
}

.modal-curso-detail-content-panel-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: calc(60% - 15px);
}

.modal-curso-detail-content-panel-right {
  display: flex;
  flex-direction: column;
  width: calc(40% - 15px);
  background-color: #def0fd;
}

.modal-curso-detail-content-panel-left-title {
  font-size: 25px;
  font-weight: bold;
  color: #242367;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  text-align: center;
}

.modal-curso-detail-content-panel-left-subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #62b6cb;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.modal-curso-detail-content-panel-left-description {
  display: flex;
  flex-direction: column;
}

.modal-curso-detail-content-panel-left-description-title {
  font-size: 18px;
  font-weight: bold;
  color: #3281af;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.modal-curso-detail-content-panel-left-description-text {
  font-size: 16px;
  color: #62b6cb;
  margin-top: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-curso-detail-content-panel-left-list {
  border-radius: 10px;
  border: 2px solid #62b6cb;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  padding-left: 20px;
}

.modal-curso-detail-content-panel-left-list-title {
  font-size: 18px;
  font-weight: bold;
  color: #3281af;
}

.modal-curso-detail-content-panel-left-list-title-items {
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.modal-curso-detail-content-panel-right {
  display: flex;
  flex-direction: column;
}

.modal-curso-detail-content-panel-right-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  padding: 12px 28px 28px 28px;
}

.modal-curso-detail-content-panel-right-img-container {
  background-color: #f3f3f5;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 160px;
    width: 230px;
    border-radius: 20px;
  }
}

.modal-curso-detail-content-panel-right-text-first {
  font-size: 18px;
  color: #3281af;
  height: 15%;
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  gap: 5px;
  letter-spacing: 1px;
}

.modal-curso-detail-content-panel-right-text-first-costo {
  font-size: 22px;
  color: #242367;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.modal-curso-detail-content-panel-right-text-second {
  font-size: 16px;
  color: #3281af;
  height: 25%;
  gap: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5px;
}

.modal-curso-detail-content-panel-right-text-second-item {
  display: flex;
  align-items: center;
  gap: 5px;

  img {
    width: 18px;
  }

  label {
    font-size: 16px;
  }
}

.modal-curso-detail-content-panel-right-buttons {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 28px;

  button {
    background-color: #3281af;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: #62b6cb;
    }
  }
}

.form-register-estudiante {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
}

.form-register-estudiante-content {
  border: 2px solid rgb(31, 141, 216);
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 600px;
}

.form-register-estudiante-content-title {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: rgb(36, 35, 103);
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.form-register-estudiante-content-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-register-estudiante-content-data-field {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;

  label {
    font-size: 14px;
    color: rgb(12, 98, 145);
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    width: 30%;
    text-align: start;
  }

  input,
  textarea,
  select {
    background-color: rgb(222, 240, 253);
    border: 2px solid rgb(98, 181, 202);
    border-radius: 8px;
    width: 400px;
    padding: 5px;
    margin: 0;
    padding-right: 30px; /* Añadimos espacio para el icono a la derecha */
  }

  input::placeholder,
  textarea::placeholder,
  input[type="date"]::placeholder,
  select::placeholder {
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    color: rgb(98, 182, 203);
    font-size: 12px;
  }

  option {
    color: rgb(98, 182, 203);
  }

  input {
    color: rgb(12, 98, 145);
  }
}

.form-register-estudiante-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;

  button {
    font-weight: bold;
    border-radius: 20px;
    border-color: rgb(50, 129, 175);
    background-color: rgb(50, 129, 175);
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    margin-right: 100px;
  }
}

.form-register-course-content-course-details {
  width: 100%;
  text-align: center; /* Centra el contenido horizontalmente */
}

.form-register-course-content-course-details-label {
  font-size: 14px;
  font-weight: bold;
  color: rgb(36, 35, 103);
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  margin-bottom: 8px; /* Ajusta el valor según sea necesario */

}

.form-register-course-content-course-details-info {
  display: flex;
  font-size: 14px;
  justify-content: space-between; /* Para separar los elementos al máximo */
  width: 100%;
  color: rgb(98, 182, 203);
  margin-top: 20px;
}

.form-register-course-content-course-details-info-title {
  font-weight: bold;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.form-register-course-content-course-details-info-cost {
  font-size: 14px;
  color: rgb(98, 182, 203);
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}
.custom-form {
  margin-top: 90px; /* Ajusta el valor según sea necesario */
}

.shopping-card-content-card-wrapper-button {
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid rgb(50, 129, 175);
  background-color: rgb(50, 129, 175);
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  margin-right: 100px;
}

.modal-inicio-sesion {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal-inicio-sesion-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  background-color: white;
  border: 2px solid #62b6cb;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-inicio-sesion-btn-close {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
}

.modal-inicio-sesion-btn-close img {
  width: 100%;
  height: auto;
}

.modal-inicio-sesion-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-inicio-sesion-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #62b6cb;
  border-radius: 5px;
}

.modal-inicio-sesion-button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal-inicio-sesion-button {
  padding: 8px 20px;
  background-color: #62b6cb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

.modal-inicio-sesion-button-cancel {
  background-color: #ccc;
}