* {
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 247);
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: #3281af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  height: 70px;
}

.logo {
  height: 100%;
  width: auto;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.navbar-content-link {
  text-decoration: none;
  color: rgb(36, 35, 103);
  background-color: white;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border: 1px solid rgb(157, 26, 169);
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: rgb(98, 182, 203);
  }
}

.form-register-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.form-register-course-content {
  border: 2px solid rgb(31, 141, 216);
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;
}

.form-register-course-content-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(36, 35, 103);
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.form-register-course-content-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-register-course-content-data-field {
  display: flex;
  gap: 30px;
  width: 100%;

  label {
    font-size: 14px;
    color: #62B6CB;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    width: calc(30% - 15px);
    text-align: start;
  }
}

.form-register-course-content-data-field-input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(70% - 15px);

  input,
  textarea,
  select {
    background-color: rgb(222, 240, 253);
    border: 2px solid rgb(98, 181, 202);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    padding-right: 38px;
  }

  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: rgb(98, 182, 203);
  }

  select {
    color: rgb(98, 182, 203);
    margin-left: -1px;
  }

  select + div {
    img {
      left: calc(100% - 38px);
      top: 6px;
    }
  }

  textarea + div {
    img {
      top: 10px;
    }
  }

  option {
    color: rgb(98, 182, 203);
  }
}

.form-register-course-content-data-field-error {
  display: flex;
  align-items: center;
  padding-top: 5px;
  gap: 10px;

  label {
    display: contents;
    color: #ff0000;
  }

  img {
    position: absolute;
    width: 18px;
    left: calc(100% - 26px);
    top: 5px;
  }

  img.margin-left-additional {
    left: calc(100% - 28px);
  }
}

.form-register-course-footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  button {
    font-weight: bold;
    border-radius: 10px;
    border-color: rgb(50, 129, 175);
    background-color: rgb(50, 129, 175);
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgb(98, 182, 203);
    }
  }
}

.field-img {
  img {
    top: 8px;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgb(255 255 255 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.modal-content {
  display: flex;
  border: 20px solid rgb(98, 182, 203);
  flex-direction: column;
  padding: 10px;
  align-items: center;
  background-color: white;
  width: 350px;
  height: 200px;
  justify-content: space-around;
  position: absolute;
}

.modal-content-title {
  font-size: 22px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  color: rgb(36, 35, 103);
}

.modal-content-description {
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  text-align: center;
}

.modal-content-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal-content-button {
  border: none;
  border-radius: 15px;
  padding: 6px 40px;
  background-color: rgb(50, 129, 175);
  color: white;
  cursor: pointer;
}

.modal-content-button:hover {
  background-color: rgb(98, 182, 203);
}

.form-register-instructor {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
}

.form-register-instructor-content {
  border: 2px solid rgb(31, 141, 216);
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 600px;
}

.form-register-instructor-content-title {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: rgb(36, 35, 103);
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.form-register-instructor-content-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-register-instructor-content-data-field {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;

  label {
    font-size: 14px;
    color: rgb(12, 98, 145);
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    width: 30%;
    text-align: start;
  }

  input,
  textarea,
  select {
    background-color: rgb(222, 240, 253);
    border: 2px solid rgb(98, 181, 202);
    border-radius: 8px;
    width: 400px;
    padding: 5px;
    margin: 0;
    padding-right: 30px; /* Añadimos espacio para el icono a la derecha */
  }

  input::placeholder,
  textarea::placeholder,
  input[type="date"]::placeholder,
  select::placeholder {
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    color: rgb(98, 182, 203);
    font-size: 12px;
  }

  option {
    color: rgb(98, 182, 203);
  }

  input {
    color: rgb(12, 98, 145);
  }
}

select {
  color: rgb(12, 98, 145);
  margin-left: -5px;
  width: calc(100% - -5px); /* Restamos el ancho del ícono y del margen */
}

.input-container select {
  width: 400px; /* Establecemos el ancho del select */
}

.icon-container {
  position: absolute;
  top: 70%;
  right: 17px;
  transform: translateY(-70%);
}

.icon {
  width: 15px; /* Tamaño del icono ajustado */
}

option {
  color: rgb(98, 182, 203);
}

input {
  color: rgb(12, 98, 145);
  font-weight: 500;
}

.input-container select {
  width: 420px; /* Establecemos el ancho del select */
}

select {
  color: rgb(12, 98, 145);
  margin-left: -5px;
  width: calc(100% - -5px); /* Restamos el ancho del ícono y del margen */
}

.input-container {
  position: relative;
  display: inline-block;
}

.icon-container {
  position: absolute;
  top: 70%;
  right: 17px;
  transform: translateY(-70%);
}

.icon {
  width: 15px; /* Tamaño del icono ajustado */
}

.form-register-instructor-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;

  button {
    font-weight: bold;
    border-radius: 20px;
    border-color: rgb(50, 129, 175);
    background-color: rgb(50, 129, 175);
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    margin-right: 100px;
  }
}

.error-message {
  position: relative;
  width: 50%;
  left: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: red;
  top: 70px;
}

input:focus,
select:focus {
  outline: none;
}

input.success-input,
select.success-input,
textarea.success-input {
  border-color: green; /* Cambia el color del borde a verde cuando no hay error */
}

input.error-input,
select.error-input,
textarea.error-input {
  border-color: #ff0000; /* Cambia el color del borde a rojo cuando hay error */
}

.list-courses {
  display: flex;
  flex-direction: column;
  width: 95%; /* Establece el ancho del contenedor al 90% del viewport */
  max-width: 100%; /* El ancho máximo del contenedor es igual al 100% del viewport */
  margin: 0 auto; /* Centra el contenedor */
}

.list-courses-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.list-courses-content-title {
  color: rgb(12, 98, 145);
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", sans-serif;
  margin-top: 50px;
}

.list-courses-content-card {
  border-radius: 5px;
  border: none;
  background-color: rgb(241, 240, 240);
  width: 18%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  gap: 50px;
}

.list-courses-content-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;

  img {
    border-radius: 10px;
  }
}

.list-courses-content-card-wrapper-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(36, 35, 103);
  overflow: hidden;
}

.list-courses-content-card-wrapper-description-title {
  font-size: 18px;
  font-weight: bold;
}

.list-no-courses-message {
  color: rgb(36, 35, 103);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el cuerpo ocupe toda la altura de la ventana */
}
