body {
  background-color: rgb(247, 247, 247);
}

.navbar {
  min-width: 100%;
  background-color: #3281af;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.navbar-content-link {
  text-decoration: none;
  color: rgb(36, 35, 103);
  background-color: white;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  border: 1px solid rgb(157, 26, 169);
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: rgb(98, 182, 203);
  }
}

.form-register-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.form-register-course-content {
  border: 2px solid rgb(31, 141, 216);
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;
}

.form-register-course-content-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(36, 35, 103);
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.form-register-course-content-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-register-course-content-data-field {
  display: flex;
  gap: 30px;
  width: 100%;

  label {
    font-size: 14px;
    color: rgb(12, 98, 145);
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    width: 30%;
    text-align: start;
  }
}

.form-register-course-content-data-field-input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  input,
  textarea,
  select {
    background-color: rgb(222, 240, 253);
    border: 2px solid rgb(98, 181, 202);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    padding-right: 38px;
  }

  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: rgb(98, 182, 203);
  }

  select {
    color: rgb(98, 182, 203);
  }

  option {
    color: rgb(98, 182, 203);
  }
}

.form-register-course-content-data-field-error {
  display: flex;
  align-items: center;
  padding-top: 5px;
  gap: 10px;

  label {
    display: contents;
    color: rgb(255, 0, 0);
  }

  img {
    position: absolute;
    width: 18px;
    left: calc(100% + 20px);
    top: 4px;
  }

  img.margin-left-additional {
    left: calc(100% - 28px);
  }
}

.form-register-course-footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  button {
    font-weight: bold;
    border-radius: 10px;
    border-color: rgb(50, 129, 175);
    background-color: rgb(50, 129, 175);
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgb(98, 182, 203);
    }
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgb(255 255 255 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.modal-content {
  display: flex;
  border: 20px solid rgb(98, 182, 203);
  flex-direction: column;
  padding: 10px;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 350px;
  height: 200px;
  justify-content: space-around;
  position: absolute;
}

.modal-content-title {
  font-size: 22px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  color: rgb(36, 35, 103);
}

.modal-content-description {
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  text-align: center;
}

.modal-content-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal-content-button {
  border: none;
  border-radius: 15px;
  padding: 6px 40px;
  background-color: rgb(50, 129, 175);
  color: white;
  cursor: pointer;
}

.modal-content-button:hover {
  background-color: rgb(98, 182, 203);
}

.form-register-instructor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.form-register-instructor-content {
  border: 2px solid rgb(31, 141, 216);
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 500 px;
}

.form-register-instructor-content-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(36, 35, 103);
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.form-register-instructor-content-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-register-instructor-content-data-field {
  display: flex;
  position: relative;
  gap: 10px;
  width: 100%;

  label {
    font-size: 14px;
    color: rgb(12, 98, 145);
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
    width: 30%;
    text-align: start;
  }

  select {
    color: rgb(98, 182, 203);
    margin-left: -5px;
  }

  option {
    color: rgb(98, 182, 203);
  }

  input,
  textarea,
  select {
    background-color: rgb(222, 240, 253);
    border: 2px solid rgb(98, 181, 202);
    border-radius: 8px;
    width: 400px;
    /*height: 20%;*/
    padding: 5px;
    margin: 0; 
  }

  input::placeholder,
  textarea::placeholder,
  input[type="date"]::placeholder,
  select::placeholder {
    color: rgb(98, 182, 203);
  }
}

.form-register-instructor-footer {
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 100%;

  button {
    font-weight: bold;
    border-radius: 10px;
    border-color: rgb(50, 129, 175);
    background-color: rgb(50, 129, 175);
    color: white;
    padding: 10px 30px;
    cursor: pointer;
  }
}

.error-message {
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  font-size: 12px; 
  color: red; 
  bottom: 0;
}

input:focus,
select:focus {
  outline: none; /* Elimina el borde de enfoque */
}

input.success-input,
select.success-input {
  border-color: green; /* Cambia el color del borde a verde cuando no hay error */
}

input.error-input,
select.error-input {
  border-color: red; /* Cambia el color del borde a rojo cuando hay error */
}

.list-courses {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.list-courses-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.list-courses-content-title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", sans-serif;
}

.list-courses-content-card {
  border-radius: 5px;
  border: none;
  background-color: rgb(241, 240, 240);
  width: 25%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.list-courses-content-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;

  img {
    border-radius: 10px;
  }
}

.list-courses-content-card-wrapper-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(36, 35, 103);
  overflow: hidden;
}

.list-courses-content-card-wrapper-description-title {
  font-size: 18px;
  font-weight: bold;
}
